
.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
    transition: all 0.3s;
}
.navbar-light .navbar-nav .nav-link:hover{
	color:orange !important;
}	
.icon {
    position: absolute;
    top: -36px;
    left: calc(50% - 36px);
    transition: 0.2s;
    border-radius: 50%;
    border: 6px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 72px;
    height: 72px;
    background: #f03c02;
  }
  .icon:hover{
    color: orange;
      background-color:white;
      cursor: pointer;
      border:3px solid orangered;
     }

  .client-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #f1eeed;
    border-bottom: 1px solid #f1eeed;
    overflow: hidden;
    background: #fff;
    height: 100px;

}
.client-logo img {
    transition: all 0.3s ease-in-out;
    height: 36px;
    filter: grayscale(100%);
}
.client-logo img:hover{
	filter: contrast(100%);
	 transition: all 0.3s ease-in-out;
	height: 45px;
  /*width: 50%;*/
	 
}
html{
  scroll-behavior: smooth;
}




/*futter*/
.futter{
	 height: auto;
	 
  background: black;
}
.futter1{
	height: auto;
	width: 100%;
  background: #14100f;
}

@media(max-width: 667){
  .client-logo{
    width: 100%;
  }
}
.email{
  width: 100%;
}